/* belajar mengenai styling text */

h1 {
    font-size: 150px;
    color: skyblue;
}

p {
    text-indent: 100px;
    text-transform: capitalize;
    word-spacing: 5px;    
}

a {
    text-decoration: none;
}