body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: green;
}

ul li a {
    color: orange;
}

ol li a {
    color: red;
} /*  untuk menggunakan selector secara spesifik */

#p1 {
    color: orange;
}

.p2 {
    color: red;
}

