.hello:link {
    color: orange;
}

.hello:hover {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.hello:active {
    font-style: italic;
}

.hello:visited {
    color: red;
}

li:nth-child(odd) a {
    color: green;
}

li:nth-child(odd) a:hover {
    color: red;
}