.calculator {
    border: 1px solid;
    color: black;
}

table {
    width: 300px;
    border-collapse: collapse;
}

td {
    height: 50px;
}

td input {
    width: 97%;
    height: 100%;
}

td button {
    width: 100%;
    height: 100%;
}

.samadengan button {
    background-color: yellow;
}